.rose-champagne {
  background-color: #c48963;
}

.champagne {
  background-color: #e9b568;
}

.rose-wine {
  background-color: #d37673;
}

.red-wine {
  background-color: #922d2a;
}

.white-wine {
  background-color: #f5e28e;
}

.apple-juice {
  background-color: #ccce4b;
}

.orange-juice {
  background-color: #f5740a;
}

.apricot-juice {
  background-color: #db8d59;
}

.coca-cola {
  background-color: #441f07;
}

.pepsi {
  background-color: #572708;
}

.sprite {
  background-color: #accecf;
}

.chocolate-liqueur {
  background-color: #77410f;
}

.coffee-liqueur {
  background-color: #522d15;
}

.cream-liqueur {
  background-color: #e7c0a9;
}

.fruit-liqueur {
  background-color: #dbd816;
}

.herb-liqueur {
  background-color: #27a346;
}

.nut-liqueur {
  background-color: #df9331;
}