:root {
  --primary-background-color: #F9F4EF;
  --primary-text-color: #716040;
  --border-color: #020826;
  --main-border-radius: 10px;
  --input-border-radius: 0px;
  --primary-font-size: 1.2em;
  --primary-font-size-sm: 1.1em;
}

form {
  width: 100%;
  height: 100%;
}

input {
  box-shadow: none;
}

input:focus{
  outline: none;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  width: 35%;
  border-radius: var(--main-border-radius);
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.login-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  min-height: 200px;
}

.login-form h2 {
  font-family: 'Gelasio', serif;
  font-size: 2em;
  margin: 0 auto 15px;
}

.input-field {
  width: 100%;
}

.login-block input {
  font-size: var(--primary-font-size);
  border-radius: var(--input-border-radius);
  border: 0;
  border-bottom: 1px solid #747474;
  text-align: left;
  padding: 10px 1px;
  width: 100%;
}

.login-block .actions {
  display: flex;
  width: 100%;
}

.login-block button, #register-btn {
  width: 50%;
  padding: 15px;
  font-size: var(--primary-font-size-sm);
  transition: transform 250ms ease, opacity 0.3s linear, background-color 0.3s linear;
}

#login-btn {
  border: 0;
  color: var(--primary-background-color);
  background-color: var(--primary-text-color);
}

#login-btn:hover {
  opacity: 0.8;
}

#register-btn {
  border: 0;
  margin-right: 1px;
  border: solid 1px var(--primary-text-color);
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

#register-btn:hover {
  background-color: #e4decf;
}

@media only screen and (max-device-width : 1200px) {
  .login-form {
    height: 500px;
    width: 60%;
  }
}

@media only screen and (max-device-width : 550px) {
  :root {
    --main-border-radius: 30px;
    --input-border-radius: 5px;
    --primary-font-size: 3em;
    --primary-font-size-sm: 2.3em;
  }

  .login-form {
    margin-top: 50px;
    height: 500px;
    width: 80%;
  }

  .login-block {
    height: 100%;
  }

  .login-form h2 {
    font-size: 3.5em;
  }
}